#psr_score {
    background: transparent;
    display: block;
    margin: 0;
    padding: 0;
    width: 200px;
}

.psr_Weak,
.psr_Medium,
.psr_Strong,
.psr_Excellent {
    background: transparent url(bg-password-strength.png) no-repeat 0 0;
    display: block;
    margin: 0.5em 0 0.2em 5px;
    padding: 10px 0 0;
}

.psr_Medium {
    background-position: 0 -50px;
}

.psr_Strong {
    background-position: 0 -100px;
}

.psr_Excellent {
    background-position: 0 -150px;
}
