/* Style Status */
#update {
width:400px;
font-size:12px;
}

/* form components */
input,textarea {
border:1px solid silver;
background-color:#fff;
color:#404040;
font-size:12px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:12px;
margin:3px 0;
padding:3px;
}

/* style update status */
#wall_container {
margin:0 auto;
font-size:11px;
background-color:#FFFFFF;
width:420px;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

#flashmessage {
border-bottom:dashed 1px #dedede;
padding:5px;
}

.stbody {
margin-bottom:5px;
border-bottom:dashed 1px #dedede;
overflow:auto;
background-color:#FFFF33;
}

#updateboxarea {
background-color:#FFFF00;
padding-left:5px;
}

.sttext {
min-height:30px;
word-wrap:break-word;
overflow:hidden;
padding:5px;
display:block;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif
font-size:12px;
width:400px;
}

.stdelete {
font-weight:bold;
float:right;
margin-right: 10px;
cursor:pointer;
}

a:link {
text-decoration:none;
}


/* Style Komentar */
.stcommentbody {
border-bottom:solid 2px #ffff33;
background-color:#fdfdc0;
padding:5px;
width:460px;
overflow:auto;
}

.stcommenttext {
margin-left: 45px;
min-height: 20px;
word-wrap: break-word;
overflow: hidden;
padding: 3px;
display: block;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 11px;
width: 300px;
} 

.stcommenttext b {
color:#006699;
}

.stcommentdelete {
font-weight:bold;
float:right;
cursor:pointer;
}

.commentupdate {
background-color:#FFFF33;
width:400px;
padding:5px;
}

.komentar {
width:300px;
height:65px;
font-size:12px;
}
